enabled = true

mapping.demo.host = HOSTNAME
mapping.demo.source = /
mapping.demo.target = /portal/master/demo-site

mapping.admin.host = HOSTNAME
mapping.admin.source = /admin
mapping.admin.target = /admin